.about{
    text-align: center;
    color: #FFFFFF;
    max-width: 800px;
    margin: 0 auto;
}

.about-title{
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}