.about{
    max-width: 800px;
    color: #FFFFFF;
    margin: 0 auto;
}

.about a {
    text-decoration: none;
    color: black;
}

.about-title{
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 50px;
}