
#spin-doctor{
    /* transform: scale(1);
    
    position: relative;
left: 50%;
top: 50%;
z-index: 10000;
margin-top: -262px;
margin-left: -84px; */
   /* margin:0;
        position: relative;
        bottom: 0;
        height: 10%;
        width: 100%; */
transform: scale(2);
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 10000;
    margin-top: -400px;
    margin-left: 133px;


}


.big-o{
    font-size: 142px;
}

.wave {
    z-index: 21;
    position: absolute;
}

.lower-body{
    margin-top: -5px;
    height:71%;
    width:100%;
    background-color: #F2F2F2;
}


.example-enter{
    opacity: 0.01;
}

.example-enter.example-enter-active {
opacity: 1;
transition: opacity 300ms ease-in;
}

.example-leave{
    opacity: 1;
}

.example-leave.example-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}