.homepage-footer {
    
    height: 200px;
    background-color: #8080804f;
}

.footer-img-wrapper{
    
    padding-top: 35px; 
}

.main-page-logo-box {
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

.main-page-img-box img {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px; 
}

.footer-content-wrapper{
    height: 390px;
    width: 960px;
    margin: 0 auto;

}

.logo-link {
    text-decoration: none;
    color: rgb(239, 136, 105);
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    line-height: 1.8;
}