@import './reset.css';
@import './session.css';
@import './quiz_main.css';
@import './quiz_show.css';
@import './modals.css';
@import './stats.css';
@import './media_query.css';
@import './animations.css';


.homepage-container {
    font-size: 16px;
    font-family: sans-serif;
}

.session-container {
    height: 60px;
    background-color: #F2F2F2;
    font-family: sans-serif;
    
}

.session-box {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    padding-top: 10px;
    
}

.logout-box {
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 2.5;
    border-radius: 4px;
    border: solid 1px rgb(239, 136, 105);
}

.signup-box {
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 2.5;
    border-radius: 4px;
    border: solid 1px rgb(239, 136, 105);
    margin-right: 5px;
}

.login-box {
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 2.5;
    border-radius: 4px;
    border: solid 1px rgb(239, 136, 105);
    margin-left: 5px;
}

.signup-box a{
    display: block;
    text-decoration: none;
    color: rgb(239, 136, 105);
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.login-box a{
    display: block;
    text-decoration: none;
    color: rgb(239, 136, 105);
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.logout-button {
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 2.5;
    border-radius: 4px;
    color: rgb(239, 136, 105);
    font-weight: bold;
    border: solid 1px #FFFFFF;
    margin-right: 5px;
    font-family: inherit;
}
.quizzes-container .session-container {
    background-color: rgb(239, 136, 105);
}

.signup-box a:hover {
    background-color: rgb(239, 136, 105);
    color: #FFFFFF;
    transition: all 0.4s ease-in-out;
}
.login-box a:hover {
    background-color: rgb(239, 136, 105);
    color: #FFFFFF;
    transition: all 0.4s ease-in-out;
}
.logout-button:hover {
    background-color: #f2f2f2;
    color: #CCC;
    transition: all 0.4s ease-in-out;
}

.homepage-banner {
    height: 500px;
    background-color: rgb(238, 135, 105);
    display: flex;
}

.homepage-title {
    /* max-width: 500px; */
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    text-align: center;
    line-height: 3;
    font-size: 100px;
    /* padding-top: 175px; */
    color: #FFFFFF;
         
     text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.homepage-body {
    height: 500px;
    
    background-color: rgb(239, 136, 105);
    
}

.homepage-footer {
    
    height: 200px;
    background-color: #8080804f;
}


.description {
    margin-top: -20px;
    font-size: 20px;
    text-shadow: none;
    text-align: center;
    line-height: 1.4;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 10px;
}