@media only screen and (max-width: 800px) { 

.homepage-title #spin-doctor{
   
    margin-top: -382px;
    
}
}



@media only screen and (max-width: 600px) {
  
  .session-container{
      font-size: 14px;
    }
    .homepage-container .session-container {
        display: flex;
    }
  .quiz-stats-box{
      max-width: 240px;
  }
  .losers{
      max-width: 55px;
      padding-right: 5px;
  }
  .winners{
      max-width: 55px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-email-box{
      max-width: 80px;
      font-size: 10px;
      line-height: 4;
  }

  .box-credentials  {
      max-width: 240px;
      
  }
  
  .box-credentials .logout-box  {
          max-width: 60px;
    }

  .box-credentials .logout-button{
      max-width: 60px;
  }


.quiz-title{
    font-size: 30px;
    text-shadow: none;
    height: 60px;
    height: min-content;
}

.main-title{
    font-size: 50px;
    padding-top: 100px;
    max-width: 400px;
}
.main-title .big-o{
    font-size: 75px
}

.homepage-title #spin-doctor{
    transform: scale(1);
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 10000;
    margin-top: -253px;
    margin-left: -42px;
}
.quiz-item-container{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}
.quiz-item{
    margin-bottom: 10px;
}
.quiz-item-box{
    height: min-content;
}
}

@media only screen and (max-width: 550px) {


.homepage-title #spin-doctor{
    
    margin-top: -239px;
    
}
.quiz-title {
    font-size: 20px;
}
.quiz-title-show{
    font-size: 20px;
}
}

@media only screen and (max-width: 466px) {


.homepage-title #spin-doctor{
    
    margin-top: -226px;
    
}
.problem {
        font-size: 14px;
    }

}

@media only screen and (max-width: 414px) { 

.homepage-title #spin-doctor{
   
    margin-top: -237px;
    
}
.winners{
    max-width: 60px;
}
.losers{
    max-width: 60px;
}
}

@media only screen and (max-width: 411px) { 

.homepage-title #spin-doctor{
   
    margin-top: -226px;
    
}
.losers{
    line-height: 3.0;

}
.winners{
    line-height: 3.0;

}
.title-win-lose{
    line-height: 3.0;
}
}

@media only screen and (max-width: 385px) { 

    .quiz-stats-box {
        font-size: 12px;
    }
    .quiz-title-show {
        font-size: 15px;
    }
    .quiz-show-box .quiz {
        max-width: 400px;
    }
    .quiz{
        max-width: 400px;
    }
    
    
    .explanation {
        font-size: 20px;
    }
    .options-box{
        font-size: 20px;
    }
    .box-credentials .logout-box{
        max-width: 50px;
        font-size: 12px;
    }
    .box-credentials .logout-button {
        max-width: 50px;
    }
}


@media only screen and (max-width: 375px) { 

.homepage-title #spin-doctor{
   
    margin-top: -223px;
    /* margin-top: -212px; */
}
    .losers {
        max-width: 45px;
    }
    .winners {
        max-width: 45px;
    }
    .demo-login{
        width: 100px;
    }
    .session-box .signup-box{
        width:80px;
    }
    .session-box .login-box{
        width:80px;
    }
}


@media only screen and (max-width: 325px) { 

.homepage-title #spin-doctor{
   
    margin-top: -205px;
    
}
.logout-box {
    max-width: 50px;
    font-size: 10px;
}

.nav-email-box {
    
    display: none;
}
.box-credentials .logout-button {
    max-width: 50px;
}

.session-box .signup-box{
        width:60px;
    }
    .session-box .login-box{
        width:60px;
    }
    .problem{
        font-size: 11px;
    }
    .options-box{
        font-size: 20px;
        padding-left: 0px;
    }
    .explanation{
        font-size: 15px;
    }

}

@media only screen and (max-width: 325px) { 
    .homepage-title #spin-doctor{
   
    margin-top: -209px;
    
}
}