.modal-answer-good{
    width: 100%;
    /* margin-left: 800px; */
    height: 50px;
    padding-top: 50px;
    position: absolute;
    text-align: center;
    background-color: lightgreen;
    margin-right: 300px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: -81px;
    color: #FFFFFF;
    float: right;
    line-height: .4;
    border-radius: 50%;
}

.modal-answer-bad{
     width: 100%;
    height: 50px;
    padding-top: 50px;
    position: absolute;
    text-align: center;
    background-color: pink;
    margin-right: 300px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: -81px;
    color: Black;
    line-height: .4;
    border-radius: 50%;
}

.modal-result-bad{
    width: 100%;
    height: 60%;
    position: absolute;
    text-align: center;
    background-color: pink;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: Black;
    border-radius: 50%;
}

.modal-result-good{
    width: 100%;
    height: 60%; 
    position: absolute;
    text-align: center;
    background-color: lightgreen;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 50%;
}

.modal-result {
    font-size: 50px;
    line-height: 10;
}

#last-question{
    
    width: 100%;
    height: 60%;
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 700;
    
    border-radius: 50%;
    
}
#last-question span {
    line-height: 9;
}