.quizzes-container {
    font-family: sans-serif;
}

.quiz-title {
    font-size: 30px;
    text-shadow: none;
    height: 60px;
    /* max-width: 1000px; */
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
     color: rgb(239, 136, 105);
       /* text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);   */
     /* text-shadow: 0px 1.5px 0px #b2a98f,
                 0px 7px 5px rgba(0,0,0,0.15),
                 0px 6px 1px rgba(0,0,0,0.1),
                 0px 8px 7px rgba(0,0,0,0.1); */
}

.quiz-item-container {
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 40px;
}

.quiz-item-box {
    max-width: 800px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quiz-item {
    height: 300px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.15);
    width: 200px;
    font-family: inherit;
    background-color: #FFFFFF;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px 1px #ccc; */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    
}

.quiz-item:hover {
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    border-color: white;
    transition: box-shadow border-color 0.3s ease-in-out;
}


.quiz-name {
    padding-top: 26px;
    text-align: center;
    /* font-size: 20px; */
    text-transform: capitalize;
    color: #0e141e;
    font-weight: 700;
}

.begin-quiz {
    background: rgb(239, 136, 105);
    border-color: rgb(239, 136, 105);
    
    box-shadow: 0 4px 12px 0 #e78c71;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    margin-left: 10px;
    margin-top: 84px;
}

.begin-quiz-button {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 70px;
    line-height: 3;
}

.quiz-details {
    font-size: 30px;
    padding-top: 30px;
}

.quiz-level {
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

.times-taken{
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}